:root {
    --button-size: 50pt;
}

body {
    background: #000000;
    color: white;
}

button{
    padding: 5pt;
    background: #000000;
    border-width: 0pt;
    border-radius: 5pt;
    font-size: large;
    color: white;
    box-shadow: 0pt 0pt 15pt #ffffff;
}

.square-button {
    background: #bebebe;
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 15%;
    border-width: 0px;
    box-shadow: 3px 3px 0px #000000;
    scale: 100%;
}

.grid-container {
    display: grid;
    gap: 10pt;
    grid-template-columns: repeat(3, var(--button-size));
    justify-content: center;
}

.x-button {
    background: #ff0000;
    box-shadow: 0px 0px 5pt #ff0000;
    animation-duration: 0.5s;
    animation-name: mirrored-undefined-easeInElastic;
    scale: 110%;
    transition: scale 0.25s 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.o-button {
    background: #00ff00;
    box-shadow: 0px 0px 5pt #00ff00;
    animation-duration: 0.5s;
    animation-name: mirrored-undefined-easeInElastic;
    scale: 110%;
    transition: scale 0.25s 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.hidden {
    display: none;
}

.board {
    padding: 10pt;
    width: fit-content;
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}

@keyframes mirrored-undefined-easeInElastic {
    0% {
      transform: translateY(-100%);
    }
  
    4% {
      transform: translateY(-37.06%);
    }
  
    8% {
      transform: translateY(13.12%);
    }
  
    14% {
      transform: translateY(-4.4%);
    }
  
    18% {
      transform: translateY(-4.63%);
    }
  
    26% {
      transform: translateY(1.64%);
    }
  
    28% {
      transform: translateY(1.56%);
    }
  
    40% {
      transform: translateY(-0.55%);
    }
  
    42% {
      transform: translateY(-0.58%);
    }
  
    56% {
      transform: translateY(-0.04%);
    }
  
    58% {
      transform: translateY(0.17%);
    }
  
    72% {
      transform: translateY(0.16%);
    }
  
    86% {
      transform: translateY(0.04%);
    }
  
    100% {
      transform: translateY(0%);
    }
  }
  

